*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    border-bottom:1px solid grey;
}
.row{ 
    padding:1%;

}
.row ul{
    list-style-type: none;
}
.row ul li{
    display: inline;
    padding:1%;
}
.row ul li a{
   color:#ff6b81;
   text-decoration:none;

}
.row ul li a:hover{
    color:#ff4757;
}
/*main-content*/
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-2{
    width:18%;
    background-color: white;
    margin:1% ;
    padding:2%;
   

}
.text-center{
    text-align: center;
}
.fix{
    float:none;
    clear:both;
}




/*Footer*/
.footer{
    background-color: #ff4757;
    color:white;
}